.form {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 70vh;
  margin: auto;
  padding: 2rem;
  border: 0.1px solid black;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -4px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px inset;
  background: #fff;
  color: #7f7e7d;
  font-family: "Poppins", sans-serif;
}
label {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: medium;
}
input[type="text"],
input[type="email"],
input[type="number"] {
  outline: none;
  border: none;
  border-bottom: solid thin rgb(180, 142, 142);
  transition: all ease-in-out 2s;
  line-height: normal;
  position: relative;
  z-index: 1;
}
button {
  cursor: pointer;
  /* width: 20vw;
  height: 10vh; */
  border: none;
  border-radius: 80px;
  padding: 1% 2%;
  background: linear-gradient(#ffcccb, #ffbaba);
  color: white;
  font-weight: bold;
  transform: scale(0.9);
  left: 20%;
}

@media screen and (max-width: 600px) {
  form {
    width: 100vw;
    min-height: calc((var(--vh, 1vh) * 100)-1 rem);
  }
}
